<h1>Busca el hotel de preferencia</h1>
  <form class="example-form">
    <mat-form-field class="example-full-width col-12">
      <mat-label>Hotel</mat-label>
      <input type="text"
            placeholder="Escribe el nombre del hotel"
            aria-label="Hotel"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async"
        (click)="getHotel(option.id)" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div class="grid bm-8 pt-2">
    <div *ngFor="let room of listRooms"
      class="col-12 sm:col-4 md:col-3 xl:col-2">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Habitacion {{room.numero}}</mat-card-title>
            <mat-card-subtitle>Tipo {{room.tipo}}</mat-card-subtitle>
            <mat-card-subtitle>Ubicacion {{room.ubicacion}}</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>          
          <mat-chip-option disabled ="warn">impuesto: {{room.impuesto}}</mat-chip-option>
          <mat-chip-option disabled color="accent">costo: {{room.costo_base}}</mat-chip-option>
          <mat-chip-option disabled *ngIf="room.disponible" color="accent">disponible</mat-chip-option>
          <mat-chip-option disabled *ngIf="room.habilitado" color="accent">Habilitada</mat-chip-option>         
        </mat-card-content>
        <mat-card-actions>
          <button *ngIf="room.disponible && room.habilitado" mat-button color="primary" (click)="guardarReserva(room.id)">Reservar</button>
          <button *ngIf="role == 'admin'" mat-button color="accent" (click)="EditarRoom(room.id)">Editar</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
