<div class="flex flex-column p-2">

    <h2>Buscador de Reservas</h2>
    <h4>Puedes buscar por "fecha de ingreso", "salida", "cantidad de porsonsas" o "ciudad"</h4>
  
    <mat-form-field>
      <mat-label>Buscador</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchInput"
        (input)="searchHotel()"
        [matAutocomplete]="auto"
      />
  
      <mat-autocomplete autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="onSelectedOption( $event )"
        >

  
        <mat-option
          *ngIf="reservas.length === 0 && searchInput.value && searchInput.value.length > 0"
          value="">
          No se encontró nada con el término {{ searchInput.value }}
        </mat-option>
      </mat-autocomplete>
  
    </mat-form-field>
  
  </div>
  
    <div class="grid bm-8 pt-2">

      <div *ngFor="let reserva of reservas"
        class="col-12 sm:col-6 md:col-4 xl:col-3">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Habitacion {{reserva.habitacion.numero}}</mat-card-title>
              <mat-card-subtitle>Personas {{reserva.cantidad_personas}}</mat-card-subtitle>
              <mat-card-subtitle>Hotel {{reserva.habitacion.hotel.nombre}}</mat-card-subtitle>
              <img mat-card-sm-image src="{{reserva.habitacion.hotel.imagen}}" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <mat-chip-option color="warn">fecha salida: {{reserva.fecha_salida}}</mat-chip-option>
            <mat-chip-option color="warn">cantidad personas: {{reserva.cantidad_personas}}</mat-chip-option>
            <mat-chip-option color="warn">ciudad destino: {{reserva.ciudad_destino}}</mat-chip-option>
            <mat-chip-option color="warn">contacto: {{reserva.contacto_emergencia}}</mat-chip-option>
            <mat-chip-option color="warn">tel contacto: {{reserva.tel_contacto}}</mat-chip-option>

            <div class="col-12 mt-5 md:col-12  md:mt-12">
              <h2>Huespedes en la reserva</h2>
              <ol class="lista2">
                <li *ngFor="let resident of reserva.residents">
                  <span>{{resident.nombre}} {{resident.apellidos}}</span>
                </li>
              </ol>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    
    </div>
