<mat-card>
    <mat-card-header>
      <mat-card-title>{{ hotel.nombre }}</mat-card-title>
      <mat-card-subtitle>{{ hotel.direccion }}</mat-card-subtitle>
    </mat-card-header>
  
    <!-- TODO: imagen -->
    <img mat-card-image [src]="hotel.imagen" [alt]="hotel.imagen">
  
    <mat-card-content class="mt-2">
      <h4>{{ hotel.pais }}</h4>
      <p>
        <strong>Estrellas</strong> {{ hotel.numero_estrellas }}
        <strong>Habitaciones </strong> 
        <mat-chip>
          {{ hotel.cantidad_habitaciones }}
        </mat-chip>

        <!-- <mat-chip-listbox> -->
          <!-- <mat-chip *ngFor="let name of hotel.characters.split(',') | slice:0:3"> -->
          <!-- <mat-chip>
            {{ hotel.cantidad_habitaciones }}
          </mat-chip> -->
        <!-- </mat-chip-listbox> -->
      </p>
    </mat-card-content>
  
    <mat-divider></mat-divider>
  
    <mat-card-actions>
  
      <button mat-button
        mat-raised
        color="primary"
        [routerLink]="['/hoteles/edit', hotel.id ]">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
  
      <span class="spacer"></span>
  
      <button mat-button
        mat-raised
        [routerLink]="['/hoteles', hotel.id ]">
        <mat-icon>more_horiz</mat-icon>
        Más
      </button>
  
    </mat-card-actions>
  
  </mat-card>